.TopBar {
  display: flex;
  height: 50px;
  padding: 10px 20px;
  font-size: 1.0em;
  font-family: "苹果粗体";

  &__City {
    height: 30px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__City::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    top: 10px;
    width: 0;
    height: 0px;
    border-width: 4px;
    border-style: solid;
    border-color: #000 transparent transparent;
  }

  &__Search {
    padding-left:10px;
    width:  280px;
    height: 30px;
    vertical-align: bottom;
    flex:1;
  }

  &__Search input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #F6F5F5;
    text-align: center;
  }

  &__Scan {
    padding-left: 45px;
    background: url("../../../icon/scan.svg") no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
  }
}





