@charset "UTF-8";
.tabMenu {
  display: flex;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0; }
  .tabMenu a {
    text-decoration: none; }
  .tabMenu__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; }
    .tabMenu__btn span {
      margin-top: 10px;
      text-align: center;
      margin-left: 8px;
      color: #666;
      letter-spacing: 4px;
      font-size: 15px;
      font-family: "苹方粗体"; }
  .tabMenu__icon--movie {
    background: url("../icon/movie.svg") no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px; }
  .tabMenu__icon--user {
    background: url("../icon/wangwang.svg") no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 45px; }
  .tabMenu__btn--active .tabMenu__text {
    color: #ff4c64; }
  .tabMenu__btn--active .tabMenu__icon--movie {
    background: url("../icon/movie-solid.svg");
    background-size: 100% 100%;
    width: 40px;
    height: 40px; }
  .tabMenu__btn--active .tabMenu__icon--user {
    background: url("../icon/wangwang-solid.svg");
    background-size: 100% 100%;
    width: 40px;
    height: 40px; }
